[submodule "libs/OpenLayers"]
	path = libs/OpenLayers
	url = https://github.com/openlayers/openlayers.git
[submodule "libs/proj4js"]
	path = libs/proj4js
	url = https://github.com/geomoose/proj4js-amd.git
[submodule "libs/dojo"]
	path = libs/dojo
	url = https://github.com/geomoose/dojo.git
[submodule "libs/usng_tools"]
	path = libs/usng_tools
	url = https://github.com/klassenjs/usng_tools.git
