<div class="VisibleLayers">
	<span class="catalog-group" style="display: inline-block" data-dojo-attach-point="titleNode">Title</span>
	<div data-dojo-attach-point="controls" class="catalog-indent">
		<div
			data-dojo-attach-point="fadeBtn" 
			class="sprite-control sprite-control-fade"
			title="Fade Layer">
		</div>
		<div
			data-dojo-attach-point="unfadeBtn" 
			class="sprite-control sprite-control-unfade"
			title="Un-Fade Layer">
		</div>
		<div
			data-dojo-attach-point="upBtn" 
			class="sprite-control sprite-control-up"
			title="Move Layer Up">
		</div>
		<div
			data-dojo-attach-point="downBtn" 
			class="sprite-control sprite-control-down"
			title="Move Layer Down">
		</div>
		<div
			data-dojo-attach-point="killBtn" 
			class="sprite-control dijitIconDelete"
			title="Remove Layer">
		</div>
		<div
			data-dojo-attach-point="activateBtn" 
			class="sprite-control sprite-control-activate"
			title="Activate Layer">
		</div>
		<div
			data-dojo-attach-point="popupBtn" 
			class="sprite-control sprite-control-popups"
			title="Show popups for layer">
		</div>
		<div
			data-dojo-attach-point="reloadBtn" 
			class="sprite-control sprite-control-reload"
			title="Reload/Update layer">
		</div>
	</div>
	<div data-dojo-attach-point="layersNode">
	</div>
</div>
